.card2{
    display: flex;
    position: relative;
    width: 200px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card2 img{
    margin-left: 25px;
}
.card-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}