
.sidebar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #090b2c;
    /* overflow-x: hidden; */
  }
  
.sidebar_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
 width: 100%;
 aspect-ratio: 1/1;

}
.sidebar-list ul li{
  display: flex;
  text-align: center;
  padding: 10px;
  background-color: #2c374f;
  border-radius: 10px 0px 0px 10px;
  width: 75%;

}
.sidebar-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.sidebar-list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.sidebar-list ul li img{
  margin-right: 10px;

}
.sidebar-list ul li:hover{
  background-color: aliceblue;
  color:#151a26
}

.logout {
  width: 100%;
  height: 100px;
  background-color: rgb(253, 247, 247);
}
.logout  ul li {
position: absolute;
  display: flex;
  text-align: center;
  align-items: flex-end;
  padding: 10px;
 
  border-radius: 10px 0px 0px 10px;
  width: 75%;
  
}
.logout ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  gap: 20px;
  width: 100%;
  height: 100%;
  color: rgb(245, 30, 30);
  font-size: medium;

}